<form action="/entry" method="POST">
  <div>
    <input
      placeholder="Whats Boobin'?"
      type="text"
      name="entry"
      style="padding: 30px; margin-left: 450px; margin-right:25px; margin-top:25px "
    />

    <button
      class="entry__submit"
      type="submit"
      style=" border-radius: 25px;"
    >Boob It</button>
  </div>
</form>
{{!-- <h1>Welcome to your page {{user.name}}</h1> --}}

<!-- JavaScript Bundle with Popper -->
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
  crossorigin="anonymous"
></script>