* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
input {
  font-size: 14px;
}
body {
  line-height: 1.4;
  background: rgba(95, 95, 160, 0.945);
  /* background-image: url("/img/skulls.png"); */
  background-color: rgb(251, 246, 253);
  color: rgb(51, 51, 51);
  font-family: Rubik, Helvetica, Arial, sans-serif;
}

a,
u {
  text-decoration: none !important;
  color: rgb(73, 67, 67);
}

h1 {
  /* font-size: px; */
  margin-bottom: 16px;
  color: #777;
  text-align: left;
}
h2 {
  color: #777;
  margin-bottom: 16px;
}
p {
  font-size: 25px;
  color: #270547ce;
  text-align: center;
  margin: 150px;
}
label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}
input {
  border: 1px solid #eee;
  padding: 12px;
  outline: none;
}
button {
  cursor: pointer;
  padding: 15px;
  background: #5e5cbfe3;
  border: none;
  color: #fff;
  font-size: 16px;
  transition: background 0.3s ease;
  border-radius: 20px;
  margin: 5px;
}
button:hover {
  background: #6b47b8;
}
button:disabled {
  cursor: default;
  background: #7c5cbf94;
}

.centered-form {
  background-color: rgb(250, 250, 250);
  /* width: 50%; */
  height: 90vh;
  margin-left: 55%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}
.centered-form__box {
  /* box-shadow: 0 0 17px 1px #1d1f26c0; */
  /* background: #f7faf7; */
  padding: 24px;
  width: 450px;
  border-radius: 5px;
}
.centered-form button {
  width: 100%;
}
.centered-form input {
  margin-bottom: 16px;
  width: 100%;
}
.chat {
  display: flex;
}
.chat__sidebar {
  height: 100vh;
  color: #fff;
  background: #333744;
  width: 225px;
  overflow-y: scroll;
}
.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.chat__messages {
  flex-grow: 1;
  padding: 24px 24px 0;
  overflow-y: scroll;
}
.message {
  margin-bottom: 16px;
}
.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}
.message__meta {
  color: #777;
  font-size: 14px;
}
.message a {
  color: #0070cc;
}
.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 16px;
  padding: 24px;
}
.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}
.compose input {
  border: 1px solid #eee;
  width: 100%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
}
.compose button {
  font-size: 14px;
}
.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 24px;
}
.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0;
}
.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0;
}

.return-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.options-bar {
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.hidden {
  display: none;
}

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #a7a6ddc0; */
  /* overflow: hidden; */
  border: 1px solid#d9d9f7c0;
  border-radius: 4px;
  float: left;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #7c5cbf94;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: rgb(73, 67, 67);
  border-radius: 25px;
}

.entry__each {
  /* border: 1px solid rgba(78, 82, 78, 0.548); */
  box-shadow: 1px 5px 5px #00000026;
}
img {
  width: 350px;
  float: left;
}

.img_boob {
  height: 90vh;
  width: 55%;
  opacity: 0.8;
}

.footer_buttons {
  padding: 20px;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.644); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 50%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.comment__current__box:hover {
  box-shadow: 0 0 2px 1px rgba(89, 103, 107, 0.5);
  background-color: rgba(243, 243, 244, 0.988);
}

.buttons {
  margin-left: 5px;
  margin-right: 5px;
}

.heart__button img {
  transition: transform 0.3s;
}
.heart__button img:hover {
  transform: scale(2.2);
  transform-origin: 50% 50%;
}
.buttons img {
  /* opacity: 0;*/
  transition: transform 0.3s;
}

.buttons img:hover {
  transform: scale(2);
  transform-origin: 50% 50%;
}

/* .delete__button:hover {
  opacity: 1;
} */

.profile__each:hover {
  background-color: #a5a3a368 !important;
}

.post__each {
  height: 122px;
  width: 830px;
}
.comment__box {
  height: 122px;
  width: 830px;
}
.comment__input {
  height: 60px;
  width: 830px;
}
.comment__current__box {
  height: 70px;
  width: 830px;
  margin-left: 254px;
}

.profile_photo {
  transition: transform 0.3s;
  opacity: 0.7;
}
.profile_photo:hover {
  transform: scale(1.5);
  transform-origin: 50% 50%;
  opacity: 1;
}

.entry__each:hover {
  background-color: #e4e4e8c0 !important;
}

.profile__photo {
  opacity: 0.7;
}
.profile__photo:hover {
  opacity: 1;
}

.boobit__button {
  background-color: #b1b1d7;
}

.profile_entry__each {
  width: 830px;
}

.profile_entry__each:hover {
  background-color: #e4e4e8c0 !important;
}

.user_profile__photo {
  opacity: 0.7;
}
.user_profile__photo:hover {
  opacity: 1;
}
